@font-face {
  font-family: ModeSeven;
  src: url(../assets/mode7gx3.ttf);
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #bbbbbb;
  background: black;
  font-size: small;
}

.rows {
  display: flex;
  flex-flow: column;
  height: 100%;

  .row.header {
    flex: 0 1 auto;
  }

  .row.content {
    flex: 1 1 auto;
  }

  .row.footer {
    flex: 0 1 2em;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: 0 auto;

  .editor {
    overflow: hidden;
    flex: 1 1 0;
  }

  .emulator {
    flex: 0 0 0;
  }
}

button {
  font: bold 14px Arial;
  text-decoration: none;
  background-color: #000000;
  color: #bbbbbb;
  padding: 2px 6px 2px 6px;
  border: 1px solid #888888;
}

button:hover, button:active {
  background-color: #9c27b0;
  color: #fff;
}

.code-editor {
  height: 100%;
}

canvas.screen {
  margin: 0 0.5em 0;
  border: 1px solid #888888;
}