@font-face {
  font-family: ModeSeven;
  src: url(../assets/mode7gx3.ttf);
}

.container {
  display: flex;
  height: 640px;
  margin: 0 auto;
}

.code-editor {
  position: relative;
  width: 512px;
  height: 80%;
}
